@mixin sm {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1200px) {
    @content;
  }
}

$main: #c4e8df;
$sec: #38e8be;
$bgc: black;
$mainDark: #0be8b3;