@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1200px) {
    @content;
  }
}

$main: #00ce0d;
$sec: #afeab3;
$bgc: black;

/*
$main: #ff16a2;
$sec: #ffa0d9;
$bgc: black;
$bgcl: #6c868e;
$bgcl: #6c868e;*/
